body{
    margin: 0.9px;
}
.header{
    width: 100%;
    height: 100px;
    background-color: white;

}
.headertable{
    float: right;
    
}
td{
    padding-left: 10px;
}
.block1{
    width: 100%;
    height: 150px;
    background-color:#F4F4F4;
}
h1{
    font-family: poppins-semibold;
    color: #2d3941;

}
h2{
    color: rgb(99, 94, 94);
    font-family: poppins-light;
    padding-top: 20px;
    padding-left: 30px;
}
.block2{
    background-color: white;
    width: 100%;
    height: 500px;
}
.leftside{
    width: 50%;
    height: 300px;
    background-color: white;
    float: left;
}
.rightside{
    width: 50%;
    height: 350px;
    background-color:#E21837;
    float: left;
}
.order{
    color: white;
    font-size: 18px;
    font-family: poppins-regular;
    line-height: 30px;
}
.booking{
    background-color: #2d3941 ;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 18px;
    display: block;
    padding-left: 10px;
    margin-left: 100px;
    font-family: poppins-light;
}
.block3{
    width: 100%;
    height: 300px;
    background-color: #F4F4F4;
}
.preptest1{
    width: 33%;
    height: 200px;
    float: left;
    border-right: #c7d1d7 solid;
   
}
.preptest2{
    width: 33%;
    height: 200px;
    float: left;
    border-right: #c7d1d7 solid;
}
.preptest3{
    width: 33%;
    height: 200px;
    float: left;
}
p{
    color: #575a5c;
    font-family: poppins-regular;
    text-align: center;
}
.sampletest{
    margin-left: 170px;
}
.experttest{
    margin-left: 170px;
}
.mastertest{
    margin-left: 170px;
}
.block4{
    width: 100%;
    height: 200px;
background-image: url(Images/official_material_bg.jpg);
padding-top: 30px;
}
.bookred{
    color: white;
    background-color: #E21837;
    width: 200px;
    height: 50px;
    margin-left: 500px;
    font-family: poppins-regular;
    display: block;
}
.block5{
    width: 100%;
    height: 500px;
    background-color: #f6f8f9;
}
.leftside1{
    width: 50%;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    float: left;
}
.rightside1{
    width: 50%;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color:white;
    float: left;
}
.bookred1{
    color: white;
    background-color: #E21837;
    font-family: popins-regular;
    width: 100px;
    height: 50px;
    font-size: 18px;
}
.block6{
    width: 100%;
    height: 700px;
    background-color: #E21837;
    padding-top: 40px;
}
.container{
    width: 60%;
    height: 400px;
    background-color: white;
    margin-left: 230px; 
    padding-left: 90px;
    padding-top: 35px;
}
.comp1{
    width: 20%;
    height: 200px;
    background-color: white;
    margin-left: 220px;
    margin-top: 20px;
    float: left;
}
.comp2{
    width: 20%;
    height: 200px;
    background-color: white;
    margin-left: 30px;
    margin-top: 20px;
    float: left;

}
.comp3{
    width: 20%;
    height: 200px;
    background-color: white;
    margin-left: 760px;
    margin-top: 20px;
   
}
.footer{
    width: 100%;
    height: 80px;
    background-color: black;
}
.footersec1{
    float: left;
    margin-top: 10px;
}
.footersec2{
    float: left;
    color: #c7d1d7;
    margin-left: 170px;
    font-family: poppins-regular;
    font-size: 13px;
    margin-top: 10px;
}
.footersec3{
    float: left;
    margin-top: 10px;
   margin-left: 300px;
   float: left;
}







