
.header{
    width: 100%;
    height: 100px;
    background-color: white;

}
.headertable{
    float: right;
    
}
td{
    padding-left: 10px;
}
.button1 {
    background-color: #f11212;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 6px;
  }
  
  .button1:hover {opacity: 5}
.block1{
    width: 100%;
    height: 150px;
    background-color:#F4F4F4;
    padding-left: 30px;
    
}
.table1{
    border-spacing: 20px;
}
h1{
    font-family: poppins-semibold;
    color: #2d3941;

}
h2{
    color: rgb(99, 94, 94);
    font-family: poppins-light;
    padding-top: 20px;
    padding-left: 30px;
}
.block2{
    background-color: white;
    width: 100%;
    height: 500px;
}
.leftside{
    width: 40%;
    height: 300px;
    background-color: white;
    float: left;
    padding-left: 20px;
}
.rightside{
    width: 50%;
    height: 350px;
    background-color:#E21837;
    float: left;
    padding-left: 80px;
}
.order{
    color: white;
    font-size: 18px;
    font-family: poppins-regular;
    line-height: 30px;
}
.booking{
    background-color: #2d3941 ;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 18px;
    display: block;
    padding-left: 10px;
    margin-left: 100px;
    font-family: poppins-light;
}
.block3{
    width: 100%;
    height: 300px;
    background-color: #F4F4F4;
}
.preptest1{
    width: 33%;
    height: 200px;
    float: left;
    border-right: #c7d1d7 solid;
   
}
.preptest2{
    width: 33%;
    height: 200px;
    float: left;
    border-right: #c7d1d7 solid;
}
.preptest3{
    width: 33%;
    height: 200px;
    float: left;
}
p{px
    color: #575a5c;
    font-family: poppins-regular;
    text-align: center;
}
.sampletest{
    margin-left: 185px;
    padding-left: 20px;
}
.experttest{
    margin-left: 185px;
    padding-left: 30px;
}
.mastertest{
    margin-left: 185px;
    padding-left: 40px;
}
.block4{
    width: 100%;
    height: 200px;
background-image: url(Images/official_material_bg.jpg);
padding-top: 30px;
}
.button2 {
    background-color:white;
    border: none;
    color: rgb(79, 74, 74);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 50px;
    border-radius: 5px;
  }
  
  .button2:hover {opacity: 1}
.button3 {
    background-color: #f11212;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 600px;
  }
  
  .button3:hover {opacity: 1}
.block5{
    width: 100%;
    height: 500px;
    background-color: #f6f8f9;
    padding-right: 5px;
}
.leftside1{
    width: 40%;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    float: left;
    padding-left: 20px;
}
.rightside1{
    width: 50%;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color:white;
    float: left;
    padding-left: 50px;
    padding-right: 10px;
}
.block6{
    width: 100%;
    height: 700px;
    background-color: #E21837;
    padding-top: 40px;padding-right: 0;
}
.container{
    width: 50%;
    height: 350px;
    background-color: white;
    margin-left: 400px;
    border: 5px solid;
    border-radius: 10px;
    border-color: #c7d1d7;
    
}

.footer{
    width: 100%;
    height: 80px;
    background-color: black;
}
.footersec1{
    float: left;
    margin-top: 10px;
    border-spacing: 5px;
}
.footersec2{
    float: left;
    color: #c7d1d7;
    margin-left: 170px;
    font-family: poppins-regular;
    font-size: 13px;
    margin-top: 10px;
    padding-right: 5px;
}
.footersec3{
    float: left;
    margin-top: 10px;
   margin-left: 300px;
   float: left;
}

  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .flex-container {
    display: flex;
    background-color: rgb(132, 125, 124);
    margin-top: 20px;
    padding-left: 150px;
    height: 300px;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color: white;
    color: red;
    text-align: justify;
    padding-top: 2px;
  }
  .flex-container > div:hover{
    background-color: #E21837;
    color: white;
  }






